
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:6px;background-color:#ea5d05;"></div>
<div class="w3-container">
    <ul class="w3-navbar w3-light-grey">
        <li><a href="#">Home</a></li>
        <li><a href="#">Link 1</a></li>
        <li class="w3-dropdown-hover">
            <a href="#">Dropdown</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="w3-dropdown-hover">
            <a href="#">Configurazione</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                @Html.ActionLink("Utenti","Index","IdentityUsers")
            </div>
        </li>
        <li class="w3-dropdown-hover w3-right">
            <a class="w3-green" href="#">Lorenzo Soncini</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="#">Profilo</a>
                <a href="#">Reset parola di passaggio</a>
                <a href="#">Esci</a>
            </div>
        </li>
    </ul>
</div>
<div class="w3-container">
    Campi in testata per filtro: Anno - Mese - Risorsa
</div>

