@model Job.WebMvc.Models.Jobs.JobsEditModel
@{
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<ol class="breadcrumb">
    <li>Home</li>
    <li>Elenco commesse</li>
    <li class="active">Codice commessa</li>
</ol>
Qui si esplode il dettaglio:<br />
<table>
    <thead><tr><th></th><th>Inizio</th><th>Fine</th><th>Ore</th><th>Costi</th><th>Fatturato</th></tr></thead>
    <tbody>
        <tr><td>Preivsto</td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>Attuale</td><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>
Dettaglio costi:<br />
<b>Costi</b><br />
30/06/2016  Spese trasferta     € 256,00<br />
30/06/2016  Acquisto materiale  € 256,00<br />
<b>Ore lavorate</b><br />
Persona Ore<br />
<b>Fatture</b><br />
Data Numero Cliente Totale Saldato

