@model JobManagement.WebMvc.Models.DDRimborsoSpeseModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DDRimborsoSpese</title>
</head>
<body>
    <div> 
        JobManagement.WebMvc.Models.DDRimborsoSpeseModel
    </div>
</body>
</html>
