@model Job.WebMvc.Models.DisplayDocument.DisplayExpensePaymentRefoundModel
@{
    ViewBag.Title = "Rimborso spese anticipate dal socio";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}

<h2>ExpensePaymentRefound</h2>

