@model JobManagement.WebMvc.Models.Purchases.IndexPurchaseModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
@section sectionHeader {
    <script type="text/javascript">
    </script>
}
Periodo: al  - Stato: <select><option value="0">Confermate</option><option value="1">Previste</option></select> Conto: Causale: <button>Filtra</button>
Nuovo... Trasferta...


