@model JobManagement.WebMvc.Models.TravelExpense.TravelExpenseDisplayModel

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
RIMBORSO SPESE DI TRASFERTA A <span></span> DEL <span></span><br />
PERIODO TRASFERTA DAL AL

ATTIVITA' RENDICONTATA

DETTAGLIO NOTA SPESE

REGISTRAZIONE


